---
import Section from "@/components/Section.astro";

import { work } from "@resume";
---

<Section title="Experiencia Laboral">
  <ul class="flex flex-col gap-8">
    {
      work.map(
        ({ company, position, startDate, endDate, summary }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear = !!endDate
            ? new Date(endDate).getFullYear()
            : "actualidad";
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header class="flex justify-between items-start mb-1 text-lg">
                  <div>
                    <h3 class="text-xl font-semibold text-[#111]">{company}</h3>
                    <h4 class="text-xl font-medium font-mono mt-1 text-[#222]">
                      {position}
                    </h4>
                  </div>
                  <time class="min-w-24 flex justify-end text-base text-[#555] mt-2">
                    {years}
                  </time>
                </header>
                <footer>
                  <p class="text-lg text-wrap font-mono leading-6 font-normal text-[#666]">
                    {summary}
                  </p>
                </footer>
              </article>
            </li>
          );
        },
      )
    }
  </ul>
</Section>
