---
import Section from "@/components/Section.astro";
import World from "@/assets/icons/World.astro";
import Email from "@/assets/icons/Email.astro";
import GitHub from "@/assets/icons/GitHub.astro";
import LinkedIn from "@/assets/icons/LinkedIn.astro";

import { personal } from "@resume";

const { name, summary, location, email, image, networking } = personal;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
};

const infoNetworking = networking.map((n) => n.url);
const printInfoNetworking = [email, ...infoNetworking].join(" • ");
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{summary}</h2>
      <span>
        <World />
        {location}
      </span>
      <footer class="print">{printInfoNetworking}</footer>
      <footer class="no-print">
        {
          email && (
            <a
              href={`mailto:${email}`}
              href={`Enviar un correo electronico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Email />
            </a>
          )
        }
        {
          networking.map(({ network, username, url }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
                href={url}
                title={`Visitar el perfil de ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img src={image} alt="profile" />
    </figure>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  h2 {
    color: #444;
    font-weight: 500;
    font-size: 1.5rem;
    text-wrap: balance;
  }

  img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 150px;
    border-radius: 6px;
  }

  span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  }

  footer {
    font-size: 0.7rem;
    display: flex;
    gap: 4px;
    margin-top: 1px;
  }

  footer a {
    color: #777;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }

  @media (width <= 700px) {
    .info {
      padding-right: 0;
    }

    img {
      width: 100px;
    }

    span {
      font-size: 1rem;
      letter-spacing: 0.05rem;
    }

    footer a {
      height: 35px;
      width: 35px;
    }
  }
</style>
