---
import Section from "@/components/Section.astro";
import World from "@/assets/icons/World.astro";
import Email from "@/assets/icons/Email.astro";
import GitHub from "@/assets/icons/GitHub.astro";
import LinkedIn from "@/assets/icons/LinkedIn.astro";

import { personal } from "@resume";

const { name, summary, location, email, image, networking } = personal;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
};

const infoNetworking = networking.map((n) => n.url);
const printInfoNetworking = [email, ...infoNetworking].join(" • ");
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4">
    <div class="flex flex-col gap-2 pr-8">
      <h1 class="text-4xl font-bold">{name}</h1>
      <h2 class="text-2xl text-[#444] font-mono">{summary}</h2>
      <span
        class="text-[#666] flex items-center gap-1 text-xl tracking-tighter font-mono"
      >
        <World />
        {location}
      </span>
      <footer class="print">{printInfoNetworking}</footer>
      <footer class="no-print text-xs flex gap-1 mt-[1px]">
        {
          email && (
            <a
              class="text-[#777] inline-flex items-center justify-center border border-solid border-[#eee] p-1 h-8 w-8 rounded-md transition-all ease-linear hover:bg-[#eee] hover:border-[#ddd]"
              href={`mailto:${email}`}
              href={`Enviar un correo electronico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Email />
            </a>
          )
        }
        {
          networking.map(({ network, username, url }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
                class="text-[#777] inline-flex items-center justify-center border border-solid border-[#eee] p-1 h-8 w-8 rounded-md transition-all ease-linear hover:bg-[#eee] hover:border-[#ddd]"
                href={url}
                title={`Visitar el perfil de ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img
        class="aspect-square object-cover w-40 rounded-md"
        src={image}
        alt="profile"
      />
    </figure>
  </div>
</Section>
