---
const { currentLocale } = Astro;

import Section from "@/components/Section.astro";
import World from "@/assets/icons/World.astro";
import Email from "@/assets/icons/Email.astro";
import GitHub from "@/assets/icons/GitHub.astro";
import LinkedIn from "@/assets/icons/LinkedIn.astro";

import { getI18n, resume } from "@/i18n";

const { personal } = resume();
const $t = getI18n(currentLocale);

const { name, email, image, networking } = personal;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
};

const infoNetworking = networking.map((n) => n.url);
const printInfoNetworking = [email, ...infoNetworking].join(" • ");
const titleEmail =
  currentLocale === "es"
    ? `Enviar un correo electronico a ${name} al correo ${email}`
    : `Send an email to ${name} at email ${email}`;
const titleNetwork = (username: string, network: string) =>
  currentLocale === "es"
    ? `Visitar el perfil de ${username} en ${network}`
    : `Visit ${username}'s profile on ${network}`;
---

<Section>
  <div class="flex flex-row items-center justify-between gap-4">
    <div class="flex flex-col gap-2 pr-8">
      <h1 class="text-4xl font-bold">{$t("personal.name")}</h1>
      <h2 class="text-2xl text-[#444] font-mono">{$t("personal.summary")}</h2>
      <span
        class="text-[#666] flex items-center gap-1 text-xl tracking-tighter font-mono"
      >
        <World />
        {$t("personal.location")}
      </span>
      <footer class="print text-sm">{printInfoNetworking}</footer>
      <footer class="no-print text-xs flex gap-1 mt-[1px]">
        {
          email && (
            <a
              class="text-[#777] inline-flex items-center justify-center border border-solid border-[#eee] p-1 h-8 w-8 rounded-md transition-all ease-linear hover:bg-[#eee] hover:border-[#ddd]"
              href={`mailto:${email}`}
              title={titleEmail}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Email />
            </a>
          )
        }
        {
          networking.map(({ network, username, url }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
                class="text-[#777] inline-flex items-center justify-center border border-solid border-[#eee] p-1 h-8 w-8 rounded-md transition-all ease-linear hover:bg-[#eee] hover:border-[#ddd]"
                href={url}
                title={titleNetwork(username, network)}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure>
      <img
        class="aspect-square object-cover w-40 rounded-md"
        src={image}
        alt="profile"
      />
    </figure>
  </div>
</Section>
