---
const { currentLocale } = Astro;

import Section from "@/components/Section.astro";
import World from "@/assets/icons/World.astro";
import Email from "@/assets/icons/Email.astro";
import GitHub from "@/assets/icons/GitHub.astro";
import LinkedIn from "@/assets/icons/LinkedIn.astro";
import Website from "@/assets/icons/Website.astro";
import Typography from "@/components/Typography.astro";
import Paragraph from "@/components/Paragraph.astro";

import { getI18n, resume } from "@/i18n";

const { personal } = resume();
const $t = getI18n(currentLocale);

const { name, email, networking } = personal;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
  Website,
};

const infoNetworking = networking.map((n) => n.url);
const printInfoNetworking = [email, ...infoNetworking].join(" • ");
const titleEmail =
  currentLocale === "es"
    ? `Enviar un correo electronico a ${name} al correo ${email}`
    : `Send an email to ${name} at email ${email}`;
const titleNetwork = (username: string, network: string) =>
  currentLocale === "es"
    ? `Visitar el perfil de ${username} en ${network}`
    : `Visit ${username}'s profile on ${network}`;
---

<Section>
  <article class="text-center border-b-2 border-[#555]">
    <Typography variant="h1" title={`${$t("personal.name")}`} />
    <div class="no-print flex justify-around gap-2 mt-2">
      <span
        class="no-print text-[#666] flex items-center gap-1 text-xl tracking-tighter font-mono my-2"
      >
        <World />
        {$t("personal.location")}
      </span>
      <footer class="text-xs flex gap-1 mt-[4px]">
        {
          email && (
            <a
              class="text-[#777] inline-flex items-center justify-center border border-solid border-[#eee] p-1 h-8 w-8 rounded-md transition-all ease-linear hover:bg-[#eee] hover:border-[#ddd]"
              href={`mailto:${email}`}
              title={titleEmail}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Email />
            </a>
          )
        }
        {
          networking.map(({ network, username, url }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
                class="text-[#777] inline-flex items-center justify-center border border-solid border-[#eee] p-1 h-8 w-8 rounded-md transition-all ease-linear hover:bg-[#eee] hover:border-[#ddd]"
                href={url}
                title={titleNetwork(username, network)}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <div class="print my-2">
      <Paragraph text={printInfoNetworking} />
    </div>
  </article>
</Section>
