---
import Section from "@/components/Section.astro";

import { projects } from "@resume";
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(({ name, isActive, description, highlights, url }) => {
        return (
          <li>
            <article class="rounded-md border border-solid border-[#f2f2f2] gap-4 flex flex-col p-4 h-full">
              <header class="flex-1">
                <h3 class="mb-1">
                  <a
                    href={url}
                    title={`Ver el proyecto ${name}`}
                    target="_blank"
                    class="text-lg text-[#111] hover:underline"
                  >
                    {name}
                  </a>
                  {isActive && <span class="text-[#00bc2f]">&bull;</span>}
                </h3>
                <p class="text-lg font-mono font-normal pb-2">{description}</p>
              </header>
              <footer class="inline-flex flex-wrap gap-1 text-base">
                {highlights.map((highlight) => (
                  <span class="rounded-md bg-[#eee] text-[#444] text-xs font-medium px-2 py-1">
                    {highlight}
                  </span>
                ))}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>
